.navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
    
    .header {
    background: #000;
}
a.nav-link

 {
    color: #fff;
    font-weight:500;
}
a.nav-link.active {
    color: #61dafb !important;
}
a.nav-link:hover {
    color: #61dafb !important;
}
footer
 {
    background: ba;
    background: #000;
    color: #fff;
    bottom: 0px;
    width: 100%;
}

.image-section img {
    width: 100%;
    height: auto;
}
body {
    font-family: Poppins;
    font-weight: 400;
    height: 100%;
  margin: 0;
   
}
h1, h2, h3, h4, h5, h6{
    font-family: Poppins;
    font-weight: 700;
   
}

.product-image img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.product-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    background: #f5f5f5;
    box-sizing: border-box;
    grid-template-columns: auto auto auto;
}
 
h2.product-title {
    font-size: 20px;
}
.product-box {
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: #fff;
}